/.idea
/.vscode
.DS_Store

# Terraform
/**/*.terraform/
/**/*.lock.hcl
/**/*.tfstate*
/**/*.tfvars

# ignore any subdirectories
**/examples/cloudfront/
**/examples/mysql/
**/examples/one-password/
**/examples/rds/
**/examples/s3/
**/examples/s3-cloudfront/
